use flake
source helpers/bitwarden.sh

bitwarden_item='audiobookshelf-app testflight'

export DEVELOPER_APP_IDENTIFIER="$(get_custom_field "$bitwarden_item" 'DEVELOPER_APP_IDENTIFIER')"
export DEVELOPER_PORTAL_TEAM_ID="$(get_custom_field "$bitwarden_item" 'DEVELOPER_PORTAL_TEAM_ID')"

export APPLE_KEY_ID="$(get_custom_field "$bitwarden_item" 'APPLE_KEY_ID')"
export APPLE_ISSUER_ID="$(get_custom_field "$bitwarden_item" 'APPLE_ISSUER_ID')"
export APPLE_KEY_CONTENT="$(get_custom_field "$bitwarden_item" 'APPLE_KEY_CONTENT')"

export MATCH_GIT_URL="$(get_custom_field "$bitwarden_item" 'MATCH_GIT_URL')"
export MATCH_GIT_BASIC_AUTHORIZATION="$(get_custom_field "$bitwarden_item" 'MATCH_GIT_BASIC_AUTHORIZATION')"
export MATCH_PASSWORD="$(get_custom_field "$bitwarden_item" 'MATCH_PASSWORD')"

export TEMP_KEYCHAIN_PASSWORD="$(get_custom_field "$bitwarden_item" 'TEMP_KEYCHAIN_PASSWORD')"
