/upstream/
/build/
*.ipa
*.dSYM.zip

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

.bundle/
vendor/bundle/

.direnv/
result
result-*

.DS_Store

.env
.env.local
*.local
